body {
    font-family: 'Archivo', sans-serif;
}

#container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 1027px;
}

.header {
    width: 100%;
}

.banner {
    grid-column: 1/4;
}

/* MENU */

    #menu {
        grid-row: 2/4;
        grid-column: 1/4;
        background-color: #222931;
        color: white;
    }

    #menu ul {
        margin: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        list-style-type: none;
    }

    #menu ul li { 
        display: inline; 
        text-decoration: none;    
    }

    #menu a {
        padding: 14px;
        color: white;
        text-decoration: none;
    }

/* Menu END */

#images {
    position: relative;
    left: 40px;
}

.banner1 {
    position: relative;
    left: 130px;
    top: 40px;
}

.banner2 {
    position: relative;
    left: 170px;
    top: 40px;
}

.banner3 {
    position: relative;
    left: 210px;
    top: 40px;
}

#oplossingen {
    position: relative;
    top: 70px;
    background-color: #ffe718;
}

#oplossingen .tekstOplossingen {
    position: relative;
    left: 150px;
    font-size: 32px;
    line-height: 100px;
}

#oplossingen .tekstWerken {
    position: relative;
    font-size: 16px;
    left: 165px;
} 

/*Meer weten button*/

#meerWeten {
    position: relative;
    left: 15cm;
    width: 150px;
    height: 40px;
    background-color: white;
    border-color: white;
    font-weight: bold;
}

#meerWeten :hover {
    background-color: black ;
}

/*Meer weten button END*/

.footer {
    position: relative;
    width: 100%;
    top: 120px;
}

/* Button design */

    #buttons {
        position: relative;
        top: 70px;
        left: 270px;
        text-align: center;
    }

    /* Button 1 */

        #deals {
            position: relative;
            background-color: #ffe718;
            border-color: #ffe718;
            width: 280px;
            height: 80px;
            right: 320px;
        }

        #deals .tekst1 {
            position: relative;
            bottom: 20px;
            right: 20px;
            font-size: 20px;
            font-weight: bold;
        }

        #deals .tekst2 {
            position: relative;
            font-size: 15px;
            bottom: 20px;
        }

    /* Button 2 */

    #diensten {
        position: relative;
        background-color: #ffe718;
        border-color: #ffe718;
        width: 280px;
        height: 80px;
        right: 320px;
    }

    #diensten .tekst1 {
        position: relative;
        bottom: 20px;
        right: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    #diensten .tekst2 {
        position: relative;
        font-size: 15px;
        bottom: 20px;
    }

    /* Button 3 */

    #contact {
        position: relative;
        background-color: #ffe718;
        border-color: #ffe718;
        width: 280px;
        height: 80px;
        right: 320px;
    }

    #contact .tekst1 {
        position: relative;
        bottom: 20px;
        right: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    #contact .tekst2 {
        position: relative;
        font-size: 15px;
        bottom: 20px;
    }

/* END Buttons */

/* Over ons text */

    #overOns {
        position: relative;
        top: 3cm;
        left: 5cm;
        text-align: left;
    }

    .lorem {
        padding-right: 750px;
    }

    .overOns {
        font-weight: bold;
    }
/* END Over ons */

/* Contact*/

    #contactBlok {
        position: relative;
        left: 27cm;
        bottom: 3cm;
    }

    .contactText {
        font-weight: bold;
        font-size: 25px;
    }

/* END Contact*/
