body {
    font-family: 'Archivo', sans-serif;
    overflow-x: hidden;
}

#container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 1027px;
}

.header {
    width: 100%;
}

.banner {
    grid-column: 1/4;
}

/* MENU */

    #menu {
        grid-row: 2/4;
        grid-column: 1/4;
        background-color: #222931;
        color: white;
    }

    #menu ul {
        margin: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        list-style-type: none;
    }

    #menu ul li { 
        display: inline; 
        text-decoration: none; 
        padding: 0.35cm;
    }

    #menu a {
        padding: 14px;
        color: white;
        text-decoration: none;
    }

    #menu ul li:hover {
        background-color: yellow; 
    }

    #menu ul li a:hover{
        color: black;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #222931;
        min-width: 160px;
        z-index: 1;
        right: 23.5cm;
        top: 2cm;
    }

    .dropdown-content a {
        color: #222931;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        background-color: #222931;
    }

    .dropdown-content a:hover {
        background-color: yellow;
    }

/* Menu END */

.images {
    position: relative;
    margin-top: 1cm;
    left: 5cm;
}

.banner1 {
    display: inline;
    margin-right: 1cm;
}

.banner2 {
    display: inline;
}

.banner3 {
    display: inline;
    margin-left: 1cm;
}


#oplossingen {
    position: relative;
    top: 70px;
    background-color: #ffe718;
}

#oplossingen .tekstOplossingen {
    position: relative;
    left: 150px;
    font-size: 32px;
    line-height: 100px;
}

#oplossingen .tekstWerken {
    position: relative;
    font-size: 16px;
    left: 165px;
} 

/*Meer weten button*/

#meerWeten {
    position: relative;
    left: 15cm;
    width: 150px;
    height: 40px;
    border: none;
    border-color: white;
    font-weight: bold;
}

#meerWeten:hover {
    background-color: #222931;
    color: white;
}

/*Meer weten button END*/

.footer {
    position: relative;
    width: 100%;
    top: 120px;
}

/* Button design */

    #buttons {
        position: relative;
        top: 70px;
        left: 270px;
        text-align: center;
    }

    #deals:hover {
        background-color: #222931;
        color: white;
    }

    #diensten:hover {
        background-color: #222931;
        color: white;
    }

    #contact:hover {
        background-color: #222931;
        color: white;
    }


    #buttons {
        margin-right: 14.5cm;
    }
    
    #buttons button{
        background-color: #ffe718;  
        border: #ffe718;
        width: 230px;
        font-weight: bold;
    }

    #buttons i {
        font-size: 50px;
        float: left;
        margin-top: 10px;
    }

    /* Button 1 */

    #buttons p {
        text-align: left;
        position: relative;
        left: 10px;
    }

    /* Button 2 */
    
    /* Button 3 */

/* END Buttons */

/* Over ons text */

    #overOns {
        position: relative;
        top: 3cm;
        left: 5cm;
        text-align: left;
    }

    .lorem {
        padding-right: 750px;
    }

    .overOns {
        font-weight: bold;
    }
/* END Over ons */

/* Contact*/

    #contactBlok {
        position: relative;
        left: 27cm;
        bottom: 3cm;
    }

    .contactText {
        font-weight: bold;
        font-size: 25px;
    }

/* END Contact*/

.dienstenTekst {
    position: relative;
    top: 20px;
    left: 5cm;
    margin-right: 8cm;
    line-height: 24px;
}

.nieuwbouw {
    color: yellow;
}

.tooltipNieuwbouw {
    color: white;
    background-color: gray;
    position: absolute;
    text-align: left;
    display: none;
    width: 6cm;

    top: 1.7cm;
    left: 15.2cm;
}

.nieuwbouw:hover .tooltipNieuwbouw {
    display: inherit ;
}

.advies {
    color: yellow;
}

.tooltipAdvies {
    color: white;
    background-color: gray;
    position: absolute;
    text-align: left;
    display: none;
    width: 6cm;

    top: 6.2cm;
    left: 21.9cm;
}

.advies:hover .tooltipAdvies {
    display: inherit ;
}

.regelgeving {
    color: yellow;
}

.tooltipRegel {
    color: white;
    background-color: gray;
    position: absolute;
    text-align: left;
    display: none;
    width: 6cm;

    top: 6.8cm;
    left: 10.7cm;

    z-index: 2;
}

.regelgeving:hover .tooltipRegel {
    display: inherit ;
}

.regelgeving {
    color: yellow;
}
