#container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 1027px;
}

.header {
    width: 100%;
}

.banner {
    grid-column: 1/4;
}

#menu {
    grid-row: 2/4;
    grid-column: 1/4;
    background-color: black;
    color: white;
}

#menu ul {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    list-style-type: none;
}

#menu ul li { 
    display: inline; 
    text-decoration: none;    
}

#menu a {
    padding: 14px; 
    color: white;
    text-decoration: none; 
}