#container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 1027px;
}

.header {
    width: 100%;
}

.banner {
    grid-column: 1/4;
}

#menu {
    grid-row: 2/4;
    grid-column: 1/4;
    background-color: #222931;
    color: white;
}

#menu ul {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    list-style-type: none;
}

#menu ul li { 
    display: inline; 
    text-decoration: none;    
}

#menu a {
    padding: 14px;
    color: white;
    text-decoration: none;
}

#images {
    position: relative;
    left: 40px;
}

.banner1 {
    position: relative;
    left: 130px;
    top: 40px;
}

.banner2 {
    position: relative;
    left: 170px;
    top: 40px;
}

.banner3 {
    position: relative;
    left: 210px;
    top: 40px;
}

#oplossingen {
    position: relative;
    top: 70px;
    background-color: #ffe718;
}

#oplossingen .tekst1 {
    position: relative;
    left: 60px;
    font-size: 32px;
    line-height: 100px;
}

#oplossingen .tekst2 {
    position: relative;
    font-size: 16px;
    left: 50px;
} 